<!DOCTYPE html>

{% load static %}

<html>

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content 'IE=edge'> 
    <title>ChatForm</title>
    <meta name="viewport" content="width=device-width, initial-scaled=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <!-- this is why it is useful to have a main template as it will apply to all the pages that extend from main.html -->
</head>

<body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

</body>
</html>

<!-- we can also call images the same way we call the css files but this time using <img src="{% static 'images/[name of picture].jpg' %}" -->
<!-- user uploaded pictures is a different case and cannot be directly called like this -->