<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}?v=<%= DateTime.Now.Ticks %>" />
    <!-- this calls the style.css file which is in the static folder, so we need to give it access to said folder -->
    <!-- we want the css to actively refresh instead of being caches so we are modifying the link slightly-->
    <title>ChatForm - Connect with others around the world!</title>
  </head>

  <body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>


<!-- we can also call images the same way we call the css files but this time using <img src="{% static 'images/[name of picture].jpg' %}" -->
<!-- user uploaded pictures is a different case and cannot be directly called like this -->